<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rcolet.geoquizz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeCultureQuizzActivity" />
        <activity android:name=".HomeMapQuizzActivity" />
        <activity android:name=".CultureQuizzActivity" />
        <activity android:name=".ScoreCultureQuizzActivity" />
        <activity android:name=".MapQuizzActivity" />
        <activity android:name=".ScoreMapQuizzActivity"></activity>
    </application>

</manifest>